* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(34, 193, 195);
    background: linear-gradient(86deg, rgba(34, 193, 195, 1) 0%, rgba(217, 38, 198, 1) 100%);
}

#login-header-left{
    float: left;
    margin-top: 30vh;
    margin-left: 20vw;
    text-align: center;
}

#text-des {
    
}

#text-des h1 {
    color: white;
    text-align: center;
}

#text-des i {
    color: rgb(255, 255, 255);
    text-align: center;
}

#image {
    margin-top: 30px;
}

#image img {
    height: 300px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(255, 255, 255,0.5);
}

#login-container {
    background-color: rgb(255, 255, 255);
    height: 95vh;
    width: 450px;
    border-radius: 3%;
    margin-top: 20px;
    float: right;
    margin-right: 5vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-container .login h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

#name, #pass {
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 0 10px;
    width: 300px;
    height: 50px;
    border-color: darkorchid;
}

#button {
    height: 56px;
    width: 172px;
    border-radius: 26px;
    margin: 10px 21%;
    background-color: darkorchid;
    color: white;
    box-shadow: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

.signup {
    margin-top: 40px;
    text-align: center;
}

.signup h4 {
    font-size: 20px;
}

.signup a {
    text-decoration: none;
}

